@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /*overflow: hidden;*/
  background-color: #f52f2f;
  margin-top: 90px;
}
::selection{
  color: #fff;
  background: #d43f8d;
}
.container{
  margin-top: 10px;
  width: 600px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 20px 35px 10px 35px;
}
.container header{
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}
.container .form-outer{
  width: 100%;
  overflow: hidden;
}
.container .form-outer form{
  display: flex;
  width: 600%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  width: 500px;
}
.form-outer form .page .field{
  width: 530px;
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}
form .page .field .label{
  position: absolute;
  top: -30px;
  font-weight: 500;
}
form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
form .page .field select{
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
form .page .field button{
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #f52f2f;
  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover{
  color: #333;
}
form .page .btns button{
  margin-top: -20px!important;
}
form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next{
  margin-left: 3px;
}
.container .progress-bar{
  display: flex;
  margin: 40px 0;
  user-select: none;
}
.container .progress-bar .step{
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p{
  font-weight: 500;
  font-size: 14px;
  color: #000;
  margin-bottom: 8px;
  height: 40px;
  margin: 5px;
  align-items: center;
  display: flex;
}
.progress-bar .step .bullet{
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  margin-top: 15px;
}
.progress-bar .step .bullet.active{
  border-color: #f52f2f;
  background: #f52f2f;
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #262626;
}
.progress-bar .step .bullet.active:after{
  background: #f52f2f;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color: #f52f2f;
  transition: 0.2s linear;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active{
  display: block;
  color: #ffffff;
}

/*barra nav*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

.header{
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 5px 10%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header .logo{
  cursor: pointer;
}

.header .logo img{
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover{
  transform: scale(1.2);
}

.header .nav-links{
  list-style: none;
}

.header .nav-links li{
  display: inline-block;
  padding: 0 20px;  
}

.header .nav-links li:hover{
  transform: scale(1.1);
}

.header .nav-links a{
  font-size: 700;
  color: #000000;
  text-decoration: none;    

}

.header .nav-links li a:hover{
  color: #f52f2f;
}

.header .btn button{
  font-weight: 700;
  color: #ffffff;
  padding: 9px 25px;
  background: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover{
  background-color: #ffffff;
  color: #fffcfc;
  transform: scale(1.1);
}
/*barra busqueda*/

#tfheader{
  background-color:#f52f2f;

}
#tfnewsearch{
  float:center;
  padding:20px;
}
.tftextinput{
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  border:1px solid #f52f2f; border-right:0px;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}
.tfbutton {
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #f52f2f; border-right:0px;
  background: #f52f2f;
  background: -webkit-gradient(linear, left top, left bottom, from(#f52f2f), to(#f52f2f));
  background: -moz-linear-gradient(top, #f52f2f,  #f52f2f);
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover {
  text-decoration: none;
  background: #f52f2f;
  background: -webkit-gradient(linear, left top, left bottom, from(#f52f2f), to(#f52f2f));
  background: -moz-linear-gradient(top,  #f52f2f,  #f52f2f);
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}
.tfclear{
  clear:both;
}